<nav id="sidebar">

    <div style="padding:50px" >
        <img src="~/lib/img/trabajadoi.png" class="img-thumbnail" />
    </div>

    <ul class="list-unstyled components">

        <li>
            <a class="nav-link" asp-area="" asp-controller="Areas" asp-action="Index">Area</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Cuentas" asp-action="Index">Cuentas</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Domicilios" asp-action="Index">Domicilios</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Emergencias" asp-action="Index">Emergencias</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Facturas" asp-action="Index">Facturas</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Jefes" asp-action="Index">Jefes</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Personas" asp-action="Index">Personas</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Presupuestoes" asp-action="Index">Presupuestos</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Servicios" asp-action="Index">Servicios</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Tecnicoes" asp-action="Index">Tecnicos</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Turnoes" asp-action="Index">Turnos</a>
        </li>      
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>


</nav>

