@model PanopticoSA.Models.Area

@{
    ViewData["Title"] = "Delete";
}



<h3>Seguro que desea borrar esta área?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdJefeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdJefeNavigation.Tipo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArea" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
    <hr />
    <a asp-action="Index" class="btn btn-dark"> << Regresar</a>
</div>
