@{
    ViewData["Title"] = "Panoptico S.A.";
}

<div class="text-center">
    <h1 class="display-4">S A P</h1>
    <p>Inicie Sesion en la aplicación para habilitar las funciones disponibles</p>
    <button  class="btn btn-block btn-info"></button>
    <hr />
    <a  asp-area="" asp-controller="Login" asp-action="Index" class="btn btn-dark">Login</a>
</div>
